---
import Layout from '../layouts/BlogPost.astro';
import { UI } from '../i18n/ja';
---

<Layout
	title={UI.about.pageTitle}
	description={UI.about.p1}
	pubDate={new Date('2024-05-15')}
>
	<h3>{UI.about.h1}</h3>
	<p>
		{UI.about.p1}
	</p>

	<h3>{UI.about.h2}</h3>
	<p>
		{UI.about.p2}
	</p>

	<h3>{UI.about.h3}</h3>
	<p>
		{UI.about.p3.split('\n').map(line => <Fragment>{line}<br/></Fragment>)}
	</p>

	<h3>{UI.about.h4}</h3>
	<p set:html={UI.about.p4} />

	<div class="bg-orange-50 border border-orange-100 rounded-xl p-6 my-8">
		<h4 class="text-orange-900 font-bold mb-4">{UI.about.disclaimerBoxTitle}</h4>
		<ul class="list-disc pl-5 space-y-2 text-orange-800 text-sm">
			<li><strong>{UI.about.disclaimerBoxItem1Title}</strong>{UI.about.disclaimerBoxItem1Desc}</li>
			<li><strong>{UI.about.disclaimerBoxItem2Title}</strong>{UI.about.disclaimerBoxItem2Desc}</li>
			<li><strong>{UI.about.disclaimerBoxItem3Title}</strong>{UI.about.disclaimerBoxItem3Desc}</li>
		</ul>
	</div>

	<h3>{UI.about.h5}</h3>
	<p>
		{UI.disclaimer.footer}
	</p>
</Layout>
